* {
    /* outline: 1px solid white; */
}
body {
    font-family: "Montserrat";
}

.container-fluid {
    padding: 3% 15% 0 15%
}

#title {
    background: rgb(221, 135, 23);
    background: linear-gradient(60deg, rgb(26, 47, 236) 0%, rgb(117, 131, 207) 100%);
    color:#fff;    
    overflow: hidden;
}

h1 {

    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: lighter;
}

/* Download Buttons */
.download-buttons {
    margin: 5% 3% 5% 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

